In [1]:
from utils.loader_local import LoaderLocal
from utils.transformation import Transformation
import geopandas as gpd
import pandas as pd

In [2]:
df_final = LoaderLocal.loader_geoparquet("/home/onyxia/work/hackathon_mobilites_2025/data/enrich/final_table.gpq")
df_corr = LoaderLocal.loader_parquet("/home/onyxia/work/hackathon_mobilites_2025/data/metro_conexion_qualif.parquet")
df_ref_gare = LoaderLocal.loader_geoparquet("/home/onyxia/work/hackathon_mobilites_2025/data/interim/ref_gares.gpq")
df_etablissement = LoaderLocal.loader_geoparquet("/home/onyxia/work/hackathon_mobilites_2025/data/interim/etablissements.gpq")
df_carte_pmr = LoaderLocal.loader_parquet('/home/onyxia/work/hackathon_mobilites_2025/data/interim/carte_pmr.parquet')

In [3]:
df_final.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 35 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   geo_point_2d                   590 non-null    object
 1   id_ref_zdc                     590 non-null    object
 2   id_ref_zda                     590 non-null    float64
 3   nom_zda                        590 non-null    object
 4   station_clean                  590 non-null    object
 5   res_com                        590 non-null    object
 6   mode                           590 non-null    object
 7   exploitant                     590 non-null    object
 8   latitude                       590 non-null    float64
 9   longitude                      590 non-null    float64
 10  geometry                       590 non-null    geometry
 11  Station                        153 non-null    object
 12  ID Zone arret ICAR             153 non-null    float64
 13  moyenne_stairs                 153 non-null    float64
 14  moyenne_meters                 153 non-null    float64
 15  moyenne_asc                    153 non-null    float64
 16  moyenne_desc                   153 non-null    float64
 17  station_x                      153 non-null    object
 18  total_nb_etapes                153 non-null    float64
 19  ligne                          128 non-null    object
 20  station_y                      590 non-null    object
 21  facilite_acces_code            590 non-null    object
 22  facilite_acces                 590 non-null    object
 23  nombre_facilite_acces_station  590 non-null    int64
 24  facilite_acces_order           590 non-null    int64
 25  id_zdc                         490 non-null    object
 26  total_validation               490 non-null    float64
 27  total_validation_amethyste     490 non-null    float64
 28  pct_amethyste                  490 non-null    float64
 29  station_lat                    590 non-null    float64
 30  station_lng                    590 non-null    float64
 31  LGF_250m                       590 non-null    int64
 32  LGF_500m                       590 non-null    int64
 33  zdcid                          178 non-null    object
 34  n_lifts                        178 non-null    float64
dtypes: float64(15), geometry(1), int64(4), object(15)
memory usage: 161.5+ KB

In [26]:
df_ref_gare.head(1)

,geo_point_2d,id_ref_zdc,nom_zda,station_clean,res_com,mode,exploitant,latitude,longitude,geometry
0,"48.84750708199681, 2.302968297817314",71167,Cambronne,cambronne,METRO 6,METRO,RATP,48.847507,2.302968,POINT (2.30297 48.84751)

In [25]:
df_etablissement.head(1)

,lat,lng,raison_social,type_etablissement,geometry
0,49.018923,2.028895,"MAS ""LE GÎTE FLEURY""",Etablissements adultes handicapés,POINT (2.0289 49.01892)

In [ ]:
df_corr["station_clean"] = df_corr["Station"].apply(Transformation.clean_name)

,href,Provenance,Destination,Station,Description détaillée,Ligne de Provenance,Ligne de Destination,ID Zone arret ICAR,ID Ligne de Destination,ID Ligne de Provenance,Extraction,total_stairs,total_meters,ascendings,descendings,station_clean
0,https://www.metro-connexion.org/index.php?modu...,"Champ de Mars, Pontoise, Versailles-rive gauch...",Mairie de Montreuil,Alma - Marceau Pont de l'Alma,Via la station Alma-Marceau.\r\nLa corresponda...,C,9,42182,C01379,C01727,"{'ascendings': 6, 'descendings': 5, 'total_met...",11,164,6,5,almamarceaupontdel'alma

In [20]:
df_join = pd.merge(df_ref_gare,df_corr,how="left",on="station_clean")
df_join

,geo_point_2d,id_ref_zdc,nom_zda,station_clean,res_com,mode,exploitant,geometry,href,Provenance,...,Ligne de Provenance,Ligne de Destination,ID Zone arret ICAR,ID Ligne de Destination,ID Ligne de Provenance,Extraction,total_stairs,total_meters,ascendings,descendings
0,"48.84750708199681, 2.302968297817314",71167,Cambronne,cambronne,METRO 6,METRO,RATP,POINT (48.84751 2.30297),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"48.86681836985009, 2.3220828486761693",71298,Concorde,concorde,METRO 8,METRO,RATP,POINT (48.86682 2.32208),https://www.metro-connexion.org/index.php?modu...,Balard,...,8,12,45676.0,C01382,C01378,"{'ascendings': 6, 'descendings': 6, 'total_met...",11.0,250.0,6.0,6.0
2,"48.86681836985009, 2.3220828486761693",71298,Concorde,concorde,METRO 8,METRO,RATP,POINT (48.86682 2.32208),https://www.metro-connexion.org/index.php?modu...,Balard,...,8,1,45676.0,C01371,C01378,"{'ascendings': 5, 'descendings': 6, 'total_met...",9.0,124.0,5.0,6.0
3,"48.86681836985009, 2.3220828486761693",71298,Concorde,concorde,METRO 8,METRO,RATP,POINT (48.86682 2.32208),https://www.metro-connexion.org/index.php?modu...,Balard,...,8,12,45676.0,C01382,C01378,"{'ascendings': 5, 'descendings': 5, 'total_met...",12.0,199.0,5.0,5.0
4,"48.86681836985009, 2.3220828486761693",71298,Concorde,concorde,METRO 8,METRO,RATP,POINT (48.86682 2.32208),https://www.metro-connexion.org/index.php?modu...,Balard,...,8,1,45676.0,C01371,C01378,"{'ascendings': 6, 'descendings': 5, 'total_met...",12.0,218.0,6.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6030,"48.883193321300105, 2.371933128614294",71940,Jaurès,jaurès,METRO 5,METRO,RATP,POINT (48.88319 2.37193),https://www.metro-connexion.org/index.php?modu...,Pré-Saint-Gervais,...,7B,2,43425.0,C01372,C01387,"{'ascendings': 6, 'descendings': 6, 'total_met...",15.0,292.0,6.0,6.0
6031,"48.883193321300105, 2.371933128614294",71940,Jaurès,jaurès,METRO 5,METRO,RATP,POINT (48.88319 2.37193),https://www.metro-connexion.org/index.php?modu...,Pré-Saint-Gervais,...,7B,5,43425.0,C01375,C01387,"{'ascendings': 6, 'descendings': 6, 'total_met...",14.0,140.0,6.0,6.0
6032,"48.883193321300105, 2.371933128614294",71940,Jaurès,jaurès,METRO 5,METRO,RATP,POINT (48.88319 2.37193),https://www.metro-connexion.org/index.php?modu...,Pré-Saint-Gervais,...,7B,2,43425.0,C01372,C01387,"{'ascendings': 5, 'descendings': 5, 'total_met...",12.0,216.0,5.0,5.0
6033,"48.883193321300105, 2.371933128614294",71940,Jaurès,jaurès,METRO 5,METRO,RATP,POINT (48.88319 2.37193),https://www.metro-connexion.org/index.php?modu...,Pré-Saint-Gervais,...,7B,7B,43425.0,C01387,C01387,"{'ascendings': 5, 'descendings': 6, 'total_met...",12.0,70.0,5.0,6.0
6034,"48.88813847761218, 2.2497927690097654",71485,Esplanade de La Défense,esplanadedeladéfense,METRO 1,METRO,RATP,POINT (48.88814 2.24979),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN